{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'baseAdmin.html.twig' %}
{% block body %}

   <div class="col-md-4 col-md-offset-4">
      <h2 class="text-center"> Login</h2>
      {% if error %}
         <div class="bg-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
<form action="{{ path('login') }}" method="post">
   <div class="row">
      <label for="username">Username:</label><br/>
      <input type="text" id="username" name="_username"  class="form-control  input-lg"  value="{{ last_username }}" style="margin-bottom:15px;" />
   </div>

   <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"  >
   <div class="row">
   <label for="password">Password:</label><br/>
   <input type="password" id="password"   class="form-control input-lg"  name="_password"   style="margin-bottom:15px;" />
   </div>
   <div class="row ">
   <button type="submit" class="btn btn-success  btn-lg btn-block " name="Login">login</button>
   </div>

   <input type="hidden" name="_target_path" value="/admin" />
   <input type="hidden" name="_failure_path" value="login" />
</form>
   </div>
{% endblock %}